<!-- здесь реализован шаблон страницы профиля пользователя -->
{% extends "base.html" %}

{% block content %}
    <table>  <!-- создание таблицы -->
        <tr valign="top">  <!-- tr - создание строки. valign - выравнивание содержимого ячеек по верхнему краю строки -->
            <td><img src="{{ user.avatar(128) }}"></td>  <!-- td - ячейка таблицы. img src - вставка изображения -->
            <td>  <!-- создание ячейки в строке -->
                <h1>User: {{ user.username }}</h1>  <!-- h1 - заголовок 1 степени важности -->
                <!-- отображается запись "о себе" пользователя, если такая запись есть, и дата последнего посещения сайта-->
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
                {% if user == current_user %}  <!-- если пользователь просматривает свой профиль, он видит ссылку на
                                                страницу редактирования профиля -->
                <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
                {% elif not current_user.is_following(user) %} <!-- если текущий пользователь просматривает страницу
                                                                  пользователя на которого он не подписан -->
                <p>
                    <form action="{{ url_for('follow', username=user.username)  }}" method="post"> <!-- отображается
                                            форма для подписки. В action указывается маршрут который обработает введенные
                                            в форму данные, т.е. на маршрут /follow/<username> -->
                        {{ form.hidden_tag()  }} <!-- вставляется скрытое поле с CSRF-токеном для безопасности -->
                        {{ form.submit(value='Follow')  }} <!-- указывается как будет подписана кнопка (лейбл) -->
                    </form>
                </p>
                {% else %} <!-- если текущий пользователь просматривает страницу пользователя на которого он подписан,
                            соответственно ему выврдится форма для отписки от пользователя -->
                <p>
                    <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Unfollow') }}
                    </form>
                </p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>  <!-- рисует горизонтальную строку -->
    {% for post in posts %}
<!-- далее два варианта отображения сообщени (постов): 1 - прямое отображение сообщения; 2 - отображение сообщения через вызов подшаблона -->
    <!-- 1 прямое отображение сообщения -->
    <table>
        <tr valign="top">
            <td><img src="{{ post.author.avatar(36) }}"></td>  <!-- отображение аватара перед каждым сообщением -->
            <td>{{ post.author.username }} says: <br>{{ post.body }}</td>  <!-- отображение автора поста и сам пост.
                                                <br> устанавливает перевод строки в том месте, где этот тег находится -->
        </tr>
    </table>
    <!-- 2 - отображение сообщения через вызов подшаблона. Предпочтительный вариант -->
        {# {% include '_post.html' %} #}
    {% endfor %}
{% endblock %}