{# в данном файле представлен базовый шаблон созданный с помощью стилей Bootstrap, т.е. элементы данного шаблона
повторяются на нескольких страницах (ендпоинтах). В данном случае это панель навигации, она присутствует на многих страницах приложения.
Другие шаблоны могут наследовать данный шаблон и дополнять его. Шаблон видит аргументы передаваемые ему из функции просмотра с
помощью функции render_template. При наследовании, данный шаблон становится как бы оболочкой в которой предусмотрено место,
куда вставляется дочерний шаблон, это место - блок под названием content #}
<!DOCTYPE html>
<html lang="en"> {#<!-- указывает на каком языке написан сайт -->#}
    <head>  {#<!-- заголовок строницы -->#}
        <meta charset="utf-8"> {#<!-- Эта строка кода сообщает браузеру, какую кодировку символов нужно использовать для
                                правильного отображения текста на сайте. <meta> — тег, который передает техническую
                                информацию (метаданные) о странице браузеру и поисковым системам. Он не отображается на
                                экране. charset="utf-8" — задает международную кодировку UTF-8 (Unicode). -->#}
        <meta name="viewport" content="width=device-width, initial-scale=1"> {#<!-- настройка масштабирования и отображения
                        страницы на мобильных устройствах. Эта строка является строго обязательной для создания современных
                        адаптивных сайтов.
                        1 - <meta> — технический тег для передачи инструкций браузеру.
                        2 - name="viewport" — указывает, что настройки применяются к «области просмотра» (экрану устройства).
                        3 - content="... " — список конкретных правил адаптивности:
                            3.1. width=device-width — устанавливает ширину сайта равной физической ширине экрана гаджета.
                            Сайт автоматически подстроится и под узкий iPhone, и под широкий планшет.
                            3.2. initial-scale=1 — задает изначальный масштаб страницы 100%. Это гарантирует, что при
                            открытии сайта текст и кнопки не будут автоматически приближены или отдалены. -->#}
        {% if title %}  {#<!-- если через функцию render_template будет передан параметр title, то шаблон отобразит его
        								в заголовоке -->#}
        <title>{{ title }} - Microblog</title>
        {% else %}  {#<!-- если в функции render_template не будет передан параметр title, то шаблон присвоит странице
        						прописанный в шаблоне заголовок -->#}
        <title>{{ _('Welcome to Microblog') }}</title> {#<!-- Присвоение названия странице. Функция _() выполняет перевод
        																							текста на предпочитаемый пользователем язык -->#}
        {% endif %}  {#<!-- конец условного блока -->#}
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous">  {#<!-- в теге link к сайту подключается Bootstrap — популярный набор готовых стилей
                                        для веб-страниц. 1 - href="..." — это адрес, откуда загружается файл стилей.
                                        2 - rel="stylesheet" — указывает браузеру, что этот файл является таблицей стилей
                                        (CSS) и его нужно применить для оформления текущей HTML-страницы.
                                        3 - integrity="..." — криптографический хэш (проверка целостности). Браузер ска-
                                        чивает файл, считает его хэш и сравнивает с этой строкой. Если хакеры взломают CDN
                                        и подменят код Bootstrap на вредоносный скрипт, хэши не совпадут, и браузер за-
                                        блокирует этот файл ради безопасности ваших пользователей.
                                        4 - crossorigin="anonymous" — разрешает браузеру отправлять запрос за файлом на
                                        сторонний сайт без передачи ваших конфиденциальных данных (например, файлов cookies
                                        или данных авторизации). -->#}
    </head>
    <body>  {#<!-- тело страницы -->#}
        {#<!-- далее настраивается отображение навигационной панели -->#}
        <nav class="navbar navbar-expand-lg bg-body-tertiary"> {#<!-- nav - главный контейнер панели. Аргументы:
                               navbar — базовый класс Bootstrap, который превращает обычный блок в навигационную панель.
                               navbar-expand-lg — управляет адаптивностью. Меню будет развернуто на больших экранах
                               (компьютеры, ноутбуки). На экранах меньше ноутбука (планшеты, смартфоны) ссылки скроются,
                               и появится мобильная кнопка меню.
                               bg-body-tertiary — задает стандартный фоновый цвет для панели (обычно это светло-серый
                               оттенок, который автоматически подстраивается под светлую или темную тему сайта в Bootstrap 5). -->#}
            <div class="container">  {#<!-- ограничение ширины. container — центрирует содержимое шапки по центру экрана и
                                    добавляет отступы по бокам, чтобы текст не прижимался вплотную к краям монитора. -->#}
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Microblog</a>  {#<!-- navbar-brand — стилизует текст
                                                     как бренд или логотип (делает его крупнее и выделяет жирным).
                                                     href - это ссылка которая будет отображатся в виде надписи Microblog,
                                                     т.е. главная страница -->#}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> {#<!--
                                            Кнопка для мобильных устройств:
                                            navbar-toggler — превращает кнопку в скрытую иконку-«гамбургер» (три полоски),
                                            которая видна только на смартфонах.
                                            data-bs-toggle="collapse" — JS-атрибут Bootstrap. Он указывает, что при клике
                                            на кнопку скрытый блок на странице должен плавно развернуться или свернуться.
                                            data-bs-target="#navbarSupportedContent" — связывает эту кнопку со списком
                                            ссылок. Кнопка будет открывать блок, у которого есть ID navbarSupportedContent.
                                            navbar-toggler-icon — стандартная иконка трех полосок внутри кнопки.
                                            Атрибуты aria-* нужны для доступности (экранных дикторов, которые читают сайт
                                             вслух для незрячих людей). -->#}
                		<span class="navbar-toggler-icon"></span> {#<!-- эта строка выводит иконку «гамбургера» (три горизонтальные
                                                            полоски) внутри мобильной кнопки меню. -->#}
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent"> {#<!-- открытие тэга контейнера для адаптивного
                                            меню. Это строка делает 2 вещи:
                                            1 - создает «эффект шторки» (collapse): Класс collapse navbar-collapse прячет
                                            элементы меню (ссылки, кнопки) на маленьких экранах (смартфонах) и превращает
                                            их в выпадающий список. На больших экранах (компьютерах) этот же класс
                                            автоматически раскрывает меню во всю ширину.
                                            2 - задает уникальный адрес (id="navbarSupportedContent"): Этот идентификатор
                                            работает как «мишень». На странице обязательно есть кнопка-«гамбургер» (три
                                            полоски), которая управляет этим меню. В этой кнопке прописан адрес
                                            data-bs-target="#navbarSupportedContent". Когда пользователь кликает на кнопку,
                                            браузер находит данный <div> по его id и плавно сворачивает или разворачивает его. -->#}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0"> {#<!-- открытие тэга "ненумерованный список". Классы внутри
                                             этого тега управляют расположением и отступами элементов:
                                             1 - navbar-nav — задает структуру навигации. Элементы списка (<li>) выстраиваются
                                             в ровную горизонтальную линию на больших экранах и в вертикальный список на
                                             мобильных устройствах. Также этот класс отключает стандартные маркеры (точки)
                                             списка. me-auto - автоматический отступ справа
                                             2 - mb-2 mb-lg-0 (Margin Bottom) — управляет нижним отступом:
                                                mb-2 - добавляет небольшой отступ снизу на мобильных экранах, чтобы ссылки
                                                не слипались со следующим контентом при раскрытом меню.
                                                mb-lg-0 полностью убирает этот отступ на больших экранах (компьютерах),
                                                чтобы меню оставалось идеально центрированным по вертикали. -->#}
                        <li class="nav-item">  {#<!-- открытие тега списка, который является контейнером для одной ссылки
                                                в навигационной панели Bootstrap. Класс nav-item выполняет следующие задачи:
                                                1 - управляет структурой, т.е сообщает Bootstrap, что этот элемент является
                                                частью меню. На компьютерах он выстраивает пункты в горизонтальный ряд,
                                                а на смартфонах — в вертикальный столбец.
                                                2 - задает отступы - автоматический добавляет правильные интервалы вокруг
                                                ссылки. Благодаря этому пункты меню не слипаются друг с другом, и по ним
                                                легко попадать пальцем на экране телефона.
                                                Внутри этого тега всегда располагается сама ссылка с классом nav-link. -->#}
                            <a class="nav-link" aria-current="page" href="{{ url_for('main.index') }}">{{_('Home') }}</a> {#<!-- создание
                                                ссылки в меню навигации:
                                                class="nav-link" — класс Bootstrap, который стилизует текст внутри меню.
                                                    Он убирает стандартное синее подчеркивание ссылки, задает правильный
                                                    размер шрифта и добавляет красивый эффект изменения цвета при наведении
                                                    курсора (hover).
                                                aria-current="page" — атрибут доступности (Accessibility). Он сообщает
                                                    скринридерам (программам для незрячих людей), что эта ссылка ведет на
                                                    текущую открытую страницу сайта. Функция _() выполняет перевод текста
                                                    на предпочитаемый пользователем язык -->#}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('main.explore') }}">{{ _('Explore') }}</a>
                        </li>
												{#<!-- далее настраивается отображения формы полнотекстового поиска в навигационной панели -->#}
												{% if g.search_form %} {#<!-- проверка предусмотрен ли (настроен ли) в приложении полнотекстовый поиск -->#}
												<form class="navbar-form navbar-left" method="get" action="{{ url_for('main.search') }}"> {#<!--
																						class="navbar-form navbar-left" - располагает форму внутри верхней навигационной
																						панели по левому краю. method="get" — очень важный момент, прописывает что
																						запрос должен быть только GET. Это нужно для того, чтобы поисковый запрос
																						пользователя попадал прямо в адресную строку браузера (например, /search?q=привет).
																						action="{{ url_for('main.search') }}" - указывает, куда отправить данные, когда
																						пользователь нажмет Enter. Функция url_for динамически сгенерирует URL-адрес,
																						ведущий на обработчик поиска (обычно это функция search() внутри блюпринта main). -->#}
														<div class="form-group"> {#<!-- создается контейнер для поля ввода, группирует элементы формы и
																											автоматически добавляет правильные отступы для красивого отображения -->#}
																{{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }} {#<!-- создание
																						самого поля ввода. -->#}
														</div>
												</form>
												{% endif %}
                    </ul>
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        {% if current_user.is_anonymous %} {#<!-- если текущий пользователь не авторизован -->#}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('auth.login') }}">{{ _('Login') }}</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('main.user',
                            username=current_user.username) }}">{{ _('Profile') }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container mt-3"> {#<!-- class="container" - создается и настраивается контейнер, в котором будут
        									отображатся всплывающие сообщения (флеш уведомления). Центрирует всё содержимое по горизонтали
        									и задает фиксированную ширину в зависимости от размера экрана (делает сайт адаптивным).
        									mt-3 - добавляет небольшой отступ сверху (около 16 пикселей), чтобы контент сайта не прилипал
        									к верхней навигационной панели. -->#}
            {% with messages = get_flashed_messages() %} {#<!-- создает временную локальную переменную messages внутри
            								шаблона, которая будет доступна только до строки {% endwith %}. Это помогает сэкономить ресурсы
            								памяти. get_flashed_messages() — встроенная функция Flask. Она вытаскивает из сессии пользователя
            								"одноразовые" уведомления, которые были отправлены из Python-кода с помощью функции
            								flash('Текст сообщения'). Как только страница загрузится, эти сообщения автоматически удалятся
            								из сессии (повторно при обновлении страницы они не покажутся). -->#}
            {% if messages %} {#<!-- условный блок проверяет наличие сообщений -->#}
                {% for message in messages %} {#<!-- запуск цикла -->#}
                <div class="alert alert-info" role="alert">{{ message }}</div> {#<!-- class="alert alert-info" — компонент
                						Bootstrap для создания красивых информационных плашек. alert-info окрашивает блок в приятный
                						голубой цвет. role="alert" — атрибут доступности (ARIA). Он нужен для скринридеров (программ,
                						читающих текст с экрана для незрячих людей), чтобы они сразу зачитывали это сообщение как
                						важное уведомление. -->#}
                {% endfor %}
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %} {#<!-- создается пустое пространство/блок под названием content. Поскольку
            								этот шаблон базовый/родительски, то есть содержит общие для многих страниц элементы разметки,
            								он будет наследоваться/экспортироваться другими индивидуальными шаблонами. Именно внутр этого
            								пространство/блок будут вставляться индивидуальные шаблоны разных страниц, со своими собственными
            								элементами разметки -->#}
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous">
        </script> {#<!-- в данном случае тег script подключает к приложению JavaScript-библиотеку Bootstrap 5 на из внешнего
        					облачного хранилища (так называемого CDN). Это необходимо для того, чтобы в приложении работали интерактивные
        					элементы Bootstrap: выпадающие меню (dropdowns), всплывающие подсказки, модальные окна, мобильное меню
        					(«гамбургер») и закрывающиеся крестиком уведомления (alert). Подробный разбор:
        					src (source) — указывает путь к файлу скрипта.
        					integrity - содержит хеш файла, который гарантирует безопасность/оригинальность файла, что файл не подменен.
        					crossorigin="anonymous" - этот атрибут сообщает браузеру, что запрос к чужому сайту (CDN) должен быть
        					выполнен анонимно, без передачи конфиденциальных данных пользователя (таких как файлы куки (Cookies),
        					HTTP-аутентификация или SSL-сертификаты клиента). -->#}
				{{ moment.include_moment() }}  {#<!-- подключает JavaScript-библиотеку Moment.js к веб-странице, для работы с
																				датами и временем -->#}
				{{ moment.lang(g.locale) }} {#<!-- Устанавливает язык (локаль) для отображения дат и времени на стороне клиента.
				 														g.locale — это глобальная переменная Flask (g), в которую разработчики обычно сохраняют
				 														код языка текущего пользователя (например, 'ru' для русского или 'en' для английского),
				 														определенный во время обработки запроса. В результате эта строка превращается в
				 														JavaScript-код, который приказывает Moment.js переводить все фразы вроде "2 hours ago"
				 														на язык пользователя (например, "2 часа назад"). -->#}
				{#<!-- Далее, тег <script> сообщает браузеру, что код внутри него нужно воспринимать не как текст или разметку
				страницы, а как программу на языке JavaScript, которую необходимо выполнить. Конкретно в этом блоке <script>,
				прописан JavaScript-код, асинхронная функция, которая связывает клик пользователя на сайте с Flask-сервером: она
				забирает текст (пост) с экрана, показывает анимацию загрузки, отправляет запрос на перевод и выводит результат.
				Вот подробный разбор того, что происходит внутри этого скрипта:
				1. async function translate - объявление фсинхронной функции. async: ключевое слово, которое говорит браузеру,
						что функция будет выполнять операции в «ожидании» (например, ждать ответа от сервера через интернет), не замораживая
						при этом всю страницу. Функции передается 4 аргумента: ID элемента <span>, где сейчас лежит оригинальный
						иностранный текст; ID элемента, куда нужно будет вставить готовый перевод; код исходного языка (например, 'en');
						код целевого языка.
				2. document.getElementById(destElem) =
				 		'<img src="{{ url_for('static', filename='loading.gif') }}">'; - включение индикатора загрузки. Пока запрос
				 		летит до Microsoft API и обратно, проходит 1–2 секунды. Чтобы пользователь не думал, что сайт завис, код находит
				 		элемент для будущего перевода (destElem). Через .innerHTML он временно вставляет туда картинку-анимацию (loading.gif).
				 		Пользователь видит крутящийся значок загрузки.
				3. Отправка скрытого запроса на сервер.
				 		await fetch('/translate', ...): браузер отправляет фоновый запрос на созданный ранее Flask-роут /translate.
				 		Слово await заставляет программу смиренно ждать, пока сервер пришлет ответ.
				4. Получение ответа.
				 		const data = await response.json(); - Когда Flask возвращает ответ (тот самый return {'text': '...'}), эта
				 		строчка принимает его и превращает обратно из JSON-строки в удобный JavaScript-объект data. Мы снова используем
				 		await, так как разбор данных требует времени.
				5. Вывод перевода на экран.
				 		document.getElementById(destElem).innerText = data.text; - Код снова находит элемент destElem (где до этого
				 		крутилась гифка загрузки). Свойство .innerText = data.text стирает картинку загрузки и вместо неё выводит
				 		чистый, финальный переведенный текст, полученный от сервера. -->#}
				<script>
					async function translate(sourceElem, destElem, sourceLang, destLang) {
						document.getElementById(destElem).innerHTML =
							'<img src="{{ url_for('static', filename='loading.gif') }}">';
						const response = await fetch('/translate', {
							method: 'POST',
							headers: {'Content-Type': 'application/json; charset=utf-8'},
							body: JSON.stringify({
								text: document.getElementById(sourceElem).innerText,
								source_language: sourceLang,
								dest_language: destLang
							})
						})
						const data = await response.json();
						document.getElementById(destElem).innerText = data.text;
					}
				</script>
    </body>
</html>
