{#<!-- данный шаблон отрисовывает результаты полнотекстового поиска. Объекты для отображения в шаблон переданы через
функция render_template -->#}
{% extends 'base.html' %}  {#<!-- импортируется родительский шаблон -->#}

{% block content %}  {#<!-- указывается блок/пространство в родительском шаблоне, куда добавляются элементы этого шаблона  -->#}
	<h1>{{ _('Search Results') }}</h1>  {#<!-- название страницы -->#}
	{% for post in posts %}  {#<!-- начало цыкла по постам -->#}
		{% include '_post.html' %}  {#<!-- вставляется подшаблон (вложенный шаблон) -->#}
	{% endfor %}  {#<!-- окончание цыкла фор -->#}
	<nav aria-label="Post navigation">  {#<!-- создание HTML5-контейнера навигации. Атрибут aria-label помогает скринридерам понять назначение блока -->#}
		<ul class="pagination">  {#<!-- указание на открытие неупорядоченного (без номерации) списка -->#}
			<li class="page-item{% if not prev_url %} disabled{% endif %}">  {#<!-- указание на создание элемента (ссылки) внутри уже созданного
											списка. Элемент (ссылка) будет не активной (не кликабельной) если в шаблон не был передан элемент prev_url, то есть
											если отрисовывается первая страница с результатами полнотекстового поиск -->#}
				<a class="page-link" href="{{ prev_url }}">  {#<!-- указание на создание ссылки на предыдущую страницу с результатами поиска -->#}
					<span aria-hidden="true">&larr;</span> {{ _('Newer posts') }} {#<!-- отрисовка стрелки-указателя "влево". Атрибут
											aria-hidden="true" говорит голосовым движкам для слабовидящих: «Игнорируй этот символ, не читай его
											вслух, читай только текст рядом». -->#}
				</a>
			</li>
			<li class="page-item{% if not next_url %} disabled{% endif %}">  {#<!-- указание на создание элемента (ссылки) внутри уже созданного
											неразмеченного списка. Элемент (ссылка) будет не активной (не кликабельной) если в шаблон не был передан элемент next_url, то есть
											если отрисовывается последняя страница с результатами полнотекстового поиск -->#}
				<a class="page-link" href="{{ next_url }}">  {#<!-- указание на создание ссылки на следующую страницу с результатами поиска -->#}
					{{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>  {#<!-- Выводится локализованный (переведенный)
																																				текст «Старые посты» и стрелка вправо (→) -->#}
				</a>
			</li>
		</ul>
	</nav>
{% endblock %}  {#<!-- закрытие блока вставки в родительский шаблон -->#}