{#<!-- здес реализован подшаблон используемый для отображения одного сообщения. Нижнее подчеркивание в названии указывает
на то, что данный шаблон является вложенным (подшаблоном), т.е. есть этот шаблон вызывается внутри другого шаблона. Чтобы
вызвать этот шаблон в другом шаблоне, нужно использовать jinja-оператор include. Вданном шаблоне использованы элементы
фреймворка bootstrap. Для отображения сообщения используется таблица -->#}
<table class="table table-hover">  {#<!-- открытие таблицы. table и table-hover — это стили фреймворка Bootstrap. Они делают
																		таблицу аккуратной и добавляют подсвечивание строки при наведении курсора. -->#}
	<tr>  {#<!-- tr - Создает строку таблицы. Вся информация о посте (аватар и текст) находится в одной строке. -->#}
		<td width="70px">  {#<!-- Открывает первую ячейку строки с фиксированной шириной 70 пикселей. Она предназначена для аватара. -->#}
			{% set user_link %} {#<!-- set создает переменную с именем user_link. Все, что находится внутри этого блока (set)
														(HTML-код ссылки), записывается в эту переменную. -->#}
				<a href="{{ url_for('main.user', username=post.author.username) }}">{{ post.author.username }}</a> {#<!-- создает ссылку
																											на профиль автора и текст	ссылки — это само имя пользователя. -->#}
			{% endset %}
			{{ _('%(username)s said %(when)s', username=user_link, when=moment(post.timestamp).fromNow()) }} {#<!-- Эта строка
																			выводит финальный текст в ячейку с использованием функции перевода _():
																			username=user_link — подставляет ранее созданную HTML-ссылку вместо плейсхолдера %(username)s;
																			when=moment(post.timestamp).fromNow() — берет время публикации поста (post.timestamp),
																			обрабатывает его через Flask-Moment и выводит красивое относительное время (например,
																			"2 часа назад" или "вчера") вместо плейсхолдера %(when)s -->#}
			<br> {#<!-- Тег переноса строки, чтобы текст самого поста начинался с новой строчки. -->#}
			<span id="post{{ post.id }}">{{ post.body }}</span> {#<!-- тег span настраивает отдельно взятую строку.
																													post{{ post.id }} уникальный идентификатор поста, этот ID жизненно
																													необходим для скриптов перевода, чтобы JavaScript точно знал,
																													из какого именно элемента на странице нужно взять оригинальный
																													текст -->#}
			{% if post.language and post.language != g.local %} {#<!-- Проверка, нужна ли кнопка перевода, если сообщение было
																написано на языке предпочитаемым данным клиентом/пользователем, то ссылка не появляется -->#}
			<br><br> {#<!-- двойной перенос строки для визуального отделения текста поста от ссылки перевода -->#}
			<span id="translation{{ post.id }}"> {#<!-- создается контейнер для будущих результатов перевода. Когда пользователь
																					нажмет кнопку «Перевести», AJAX-скрипт заменит ссылку внутри этого контейнера
																					на уже переведенный текст -->#}
				<a href="javascript:translate(
					'post{{ post.id }}',
					'translation{{ post.id }}',
					'{{ post.language }}',
					'{{ g.local }}');">{{ _('Translate') }}</a> {#<!-- Элемент ссылки href может принимать любой код JavaScript, если
																он имеет префикс javascript: эта ссылка, вместо перехода на другую страницу запускает
																JavaScript-функцию translate(). Функция принимает 4 аргумента: ID оригинального текста,
																ID места для вывода перевода, исходный язык поста и целевой язык пользователя. -->#}
			</span>
			{% endif %}
		</td>
	</tr>
</table>