<!-- в данном файле представлен базовый шаблон, т.е. элементы страницы повторяющиеся на нескольких страницах (ендпоинтах).
 Другие шаблоны могут наследовать данный шаблон и дополнять его -->
<!DOCTYPE html>
<html>
    <head>  <!-- голова строницы -->
        {% if title %}  <!-- если в функции render_template будет определен параметр title, то шаблон отобразит заданный в параметре заголовок -->
        <title>{{ title }} - Microblog</title>
        {% else %}  <!-- если в функции render_template не будет определен параметр title, то шаблон присвоит странице прописанный в шаблоне заголовок -->
        <title>Welcome to Microblog</title>
        {% endif %}  <!-- конец условного блока -->
    </head>
    <body>  <!-- тело страницы -->
        <div>  <!-- Элемент <div> является блочным элементом и предназначен для выделения фрагмента документа с целью изменения вида содержимого.
                В данном случае это блок меню навигации на нескольких страницах-->
            Microblog:
            <a href="/index">Home</a>  <!-- это ссылка которая будет отображатся в виде надписи Home -->
            <a href="/login">Login</a>  <!-- ссылка для перехода на страницу ввода данных -->
            <!-- ВАЖНО! лучшим вариантом написания ссылок является использование функции url_for. В данной функции
            указывается не ендпоинт, а имя функции-просмотра в которой указан ендпоинт. Это важно тем что, во-первых дает
            возможность без ошибок использовать динамические ендпоинты, во-вторых, если нужно изменить ендпоинт достаточно
            сделать это в одном месте. Ниже пример использования функции url_for:
             <a href="{{ url_for('index') }}">Home</a>
             <a href="{{ url_for('login') }}">Login</a>
             -->
        </div>
        <hr>  <!-- данный тег рисует горизонтальную линию, после него все элементы отображаются на следующей строке-->
        {% with messages = get_flashed_messages() %}  <!-- конструкция with позволяет присвоить переменной messages
                                                    результат вызова get_flashed_messages(). Функция get_flashed_messages()
                                                    исходит из Flask и возвращает список всех сообщений, которые были
                                                    зарегистрированы ранее в flash() (flash() выполняется в представлении - routes.py).
                                                    Важная особенность этих сообщений, что после однократного запроса
                                                    через функцию get_flashed_messages они удаляются из списка сообщений,
                                                    поэтому появляются только один раз после вызова функции flash()-->
            {% if messages %}  <!-- данный блок проверяет, содержит ли переменная messages сообщения -->
                <ul>  <!-- данный тег устанавливает маркированный список. Каждый элемент списка должен начинаться тега <li> -->
                    {% for message in messages %}  <!-- начало цикла for -->
                        <li>{{ message }}</li>  <!-- данный тег маркирует каждый элемент списка, т.е. ставит метку в виде точки перед элементом -->
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}  <!-- создается пустой блок с именем content в который будет помещаться дополнения индивидуально
                                            для каждого шаблона. -->
    </body>
</html>