<!-- в данном файле представлен базовый шаблон, т.е. элементы страницы повторяющиеся на нескольких страницах (ендпоинтах).
 Другие шаблоны могут наследовать данный шаблон и дополнять его -->
<!DOCTYPE html>
<html>
    <head>  <!-- голова строницы -->
        {% if title %}  <!-- если в функции render_template будет определен параметр title, то шаблон отобразит заданный в параметре заголовок -->
        <title>{{ title }} - Microblog</title>
        {% else %}  <!-- если в функции render_template не будет определен параметр title, то шаблон присвоит странице прописанный в шаблоне заголовок -->
        <title>Welcome to Microblog</title>
        {% endif %}  <!-- конец условного блока -->
    </head>
    <body>  <!-- тело страницы -->
        <div>Microblog: <a href="/index">Home</a> </div>  <!-- это ссылка которая будет отображатся в виде надписи Home -->
        <hr>
        {% block content %}{% endblock %}  <!-- создается пустой блок с именем content в который будет помещаться дополнения индивидуально
                                            для каждого шаблона. -->
    </body>
</html>