<!-- данный файл представляет из себя шаблон с применением блока if и цикла for -->
<!DOCTYPE html>
<html>
    <head>  <!-- это голова страницы -->
      <!-- далее представлен условный блок -->
      {% if title %}  <!-- если в функции render_template будет определен параметр title, то шаблон отобразит заданный в параметре заголовок -->
        <title>{{ title }} - Microblog</title>
      {% else %}  <!-- если в функции render_template не будет определен параметр title, то шаблон присвоит странице прописанный в шаблоне заголовок -->
        <title>Welcome to Microblog</title>
      {% endif %}  <!-- конец условного блока -->
    </head>
    <body>  <!-- это тело страницы -->
      <h1>Hi, {{ user.username }}!</h1>  <!-- h1 - заголовок -->
      {% for post in posts %}  <!-- начало цикла for -->
        <div><p>{{ post.author.username }} says: <b>{{post.body}}</b></p></div>  <!-- div - контейнер для других элементов
                               шаблона, каждый новый элемент созданный в нем отображается в браузере с новой строки. p -
                               сделать абзац. -->
      {% endfor %}  <!-- окончание цикла for -->
    </body>
</html>