<!-- данный шаблон наследует base.html и дополняет его собственными элементами. Собственным является - заголовок и цикл for -->
{% extends "base.html" %}  <!-- команда extends - указывает на наследование -->
{% block content %}  <!-- указывает на заполнение блока с именем content-->
    <h1>Hi, {{ user.username }}! </h1>  <!-- заголовок -->
    {% for post in posts %}  <!-- запуск цикла for -->
        <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>  <!-- p - это абзац, b - жирный шрифт -->
    {% endfor %}  <!-- окончание цикла for -->
{% endblock %}  <!-- конец блока -->