{#<!-- данный шаблон настраивает отображение страницы авторизации в приложении. Шаблон наследует base.html и дополняет его
собственными элементами. Собственным являются, ссылки для регистрации нового аккаунта или сброса забытого пароля. Шаблон
видит аргументы передаваемые ему из функции просмотра с помощью функции render_template -->#}
{% extends 'base.html' %}  {#<!-- команда extends - указывает на наследование родительского (базового) шаблона -->#}
{% import "bootstrap_wtf.html" as wtf %}  {#<!-- Импортирует вспомогательный шаблон библиотеки Flask-Bootstrap для быстрой
																					генерации красивых HTML-форм -->#}
{% block content %}  {#<!-- указывает на заполнение пустого родительского блока шаблоном с именем content-->#}
	<h1>{{ _('Sign In') }}</h1>  {#<!-- заголовок страницы. Функция _() выполняет перевод	текста на предпочитаемый пользователем
															язык -->#}
	{{ wtf.quick_form(form) }} {#<!-- Автоматически генерирует полноценную HTML-форму авторизации на основе объекта form,
										переданного через функцию render_template. Сюда войдут поля для ввода логина/email, пароля, галочка
										«Запомнить меня» (если она настроена в форме) и кнопка отправки. Все элементы будут сразу оформлены
										стилями Bootstrap -->#}
	<p> {{ _('New User?') }} <a href="{{ url_for('auth.register') }}">{{ _('Click to Register!') }}</a></p> {#<!-- ссылка, которая отправляет новых
																	пользователей на регистрационную форму -->#}
	<p>
		{{ _('Forgot Your Password?') }}
			<a href="{{ url_for('auth.reset_password_request') }}">{{ _('Click to reset it') }}</a> {#<!-- Создает ссылку на страницу запроса
											сброса пароля. Функция url_for('reset_password_request') находит в Python-файле соответствующий
											обработчик и подставляет его URL -->#}
	</p>
{% endblock %}  {#<!-- конец блока -->#}