<!-- данный шаблон обеспечивает отображение редактора профиля, используя атрибуты класса EditProfileForm -->
{% extends "base.html" %}  <!-- импорт базового шаблона(с настройками панели навигации страниц) -->

{% block content %}  <!-- наполнение пустого блока content оставленного в базовом шаблоне -->
    <h1>Edit Profile</h1>  <!-- заголовок 1-го уровня важности -->
    <form action="" method="post"> <!-- создание HTML-формы. action="" - означает, что данные отправятся на тот же URL,
                            на котором находится пользователь. method="post" - указывает на тип HTML-запроса. -->
        {{ form.hidden_tag() }}  <!-- генерирует скрытые поля формы, включая CSRF-токен для защиты от атак типа
                                  «межсайтовая подделка запроса». Это также защита от атак, при которых злоумышленник
                                  пытается отправить форму от имени залогиненного пользователя. Без этого Flask-WTF
                                  выдаст ошибку. -->
        <p>  <!-- текстовый абзац -->
            {{ form.username.label }}<br>  <!-- Отображение ткстовой метки поля (Username). Тег <br> устанавливает
                                  перевод строки в том месте, где этот тег находится. В отличие от тега абзаца <p>,
                                  использование тега <br> не добавляет пустой отступ перед строкой. -->
            {{ form.username(size=32) }}<br>  <!-- настройка самого поля для ввода с указанием размера в символах -->
            {% for error in form.username.errors %}  <!-- этот цикл выводит ошибки прямо под полем, если пользователь ввел
                                   данные неправильно, Flask-WTF вернет список ошибок -->
            <span style="color: red;">[{{ error }}]</span>  <!-- тег span позволяет настраивать строку отдельно от остальных строк -->
            {% endfor %}
        </p>
        <p>
            {{ form.about_me.label }}<br>
            {{ form.about_me(cols=50, rows=4) }}<br>  <!-- отображение текстового поля. cols=50 параметр устанавливающий
                                                    ширину поля в символах. rows=4 параметр устанавливающий высоту поля -->
            {% for error in form.about_me.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>  <!-- кнопка 'submit' (отправка введенных данных) -->
    </form>
{% endblock %}