{% macro form_field(field, autofocus=False) %}
                        {#-- Создает шаблонную функцию (макрос) с именем form_field. Принимает
                        два параметра: field (объект поля из WTForms) и autofocus (флаг автоматического фокуса, который
                        по умолчанию выключен — False) #}
    <div class="form-group">
                        {# div - HTML-контейнер. Класс form-group часто используется в CSS-фреймворках (например,
                        Bootstrap) для создания отступов между полями формы. #}
        <label>{{ field.label.text }}</label>
                        {# Выводит текстовое название поля (например, «Имя пользователя» или «Пароль»),
                        которое вы настроили в Python-коде формы. #}
        {{ field(class="form-control", autofocus=autofocus) }}
                        {# Генерирует сам HTML-тег ввода (например,"input" или
                        "textarea"). Конструкция class="form-control" добавляет CSS-класс для стилизации поля. Параметр
                        autofocus=autofocus передает HTML-атрибут autofocus, если при вызове макроса было передано
                        значение True. #}
        {% if field.errors %}
                        {# Проверяет, есть ли ошибки валидации у этого поля (например, если поле обязательно для
                        заполнения, но пользователь оставил его пустым). #}
            <span class="error">{{ field.errors[0] }}</span>
                        {# Если ошибки есть, этот тег выводит первую из них (индекс [0]).
                        Например: «Поле не может быть пустым». #}
        {% endif %}
    </div>
{% endmacro %}