{#<!-- здесь реализован шаблон страницы профиля пользователя. десь отображается информация о пользователе (аватар, имя,
статус «о себе», время последнего визита), кнопка подписки/отписки (или редактирования) и блок навигации по его постам.
Шаблон видит аргументы передаваемые ему из функции просмотра с помощью функции render_template -->#}
{% extends "base.html" %} {#<!-- Наследует базовый каркас сайта (шапку, меню, стили) из файла base.html -->#}

{% block content %} {#<!-- Открывает блок content, заменяя пустую заготовку в родительском шаблоне уникальным содержимым профиля -->#}
	<table class="table table-hover"> {#<!-- Создает таблицу со стилями Bootstrap для аккуратного выравнивания карточки пользователя -->#}
		<tr> {#<!-- Открывает строку таблицы -->#}
			<td width="256px"><img src="{{ user.avatar(256) }}"></td> {#<!-- Создает первую ячейку шириной 256 пикселей и
																																выводит в ней аватар пользователя размером 256x256 -->#}
			<td>  {#<!-- создание 2ой ячейки в строке -->#}
				<h1>{{ _('User') }}: {{ user.username }}</h1>  {#<!-- h1 - заголовок 1 степени важности. Функция _() выполняет
																												перевод	текста на предпочитаемый пользователем язык -->#}
				{% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %} {#<!-- Проверяет, заполнил ли пользователь поле «О себе».
																																		Если да, выводит этот текст в абзаце -->#}
				{% if user.last_seen %} {#<!-- Проверяет наличие даты последнего визита. -->#}
				<p>{{ _('Last seen on') }}: {{ moment(user.last_seen).format('LLL') }}</p> {#<!-- Если она есть, выводит текст «Last seen on:»
														и саму дату. moment - это экземпляр встроенного класса Moment из расширения flask_moment-->#}
				{% endif %}
				<p>{{ _('%(count)d followers', count=user.followers_count()) }},
					{{ _('%(count)d following', count=user.following_count()) }}</p> {#<!-- это строка отображает на сколько
																					пользователей подписан этот пользователь и сколько на него подписаны -->#}
				{% if user == current_user %}  {#<!-- если пользователь просматривает свой профиль, он видит ссылку на
																					страницу редактирования профиля -->#}
				<p><a href="{{ url_for('edit_profile') }}">{{ _('Edit your profile') }}</a></p>
				{% elif not current_user.is_following(user) %} {#<!-- если текущий пользователь просматривает страницу
																														пользователя на которого он не подписан -->#}
				<p>
					<form action="{{ url_for('follow', username=user.username)  }}" method="post"> {#<!-- отображается
																		форма для подписки. В action указывается маршрут который обработает введенные
																		в форму данные, т.е. на маршрут /follow/<username> -->#}
						{{ form.hidden_tag()  }} {#<!-- вставляется скрытое поле с CSRF-токеном для безопасности -->#}
						{{ form.submit(value=_('Follow'), class_='btn btn-primary')  }} {#<!-- Отрисовывает синюю кнопку (btn-primary) с
																			надписью «Follow» (Подписаться) -->#}
					</form>
				</p>
				{% else %} {#<!-- если текущий пользователь просматривает страницу пользователя на которого он подписан,
											соответственно ему выврдится форма для отписки от пользователя -->#}
				<p> {#<!-- Открывает абзац для формы отписки -->#}
					<form action="{{ url_for('unfollow', username=user.username) }}" method="post"> {#<!-- Создает форму для отписки,
																				отправляющую POST-запрос на функцию просмотра unfollow с именем пользователя -->#}
						{{ form.hidden_tag() }}
						{{ form.submit(value=_('Unfollow'), class_='btn btn-primary') }}
					</form>
				</p>
				{% endif %}
			</td>
		</tr>
	</table>
	{% for post in posts %} {#<!-- Запускает цикл для перебора списка постов этого автора -->#}
		{# {% include '_post.html' %} #} {#<!-- отображение сообщения через вызов подшаблона -->#}
	{% endfor %}
	<nav aria-label="Post-navigation"> {#<!-- Открывает навигационный блок для переключения страниц (пагинации) -->#}
		<ul class="pagination"> {#<!-- Создает список кнопок пагинации в стиле Bootstrap -->#}
			<li class="page-item{% if not prev_url %} disabled{% endif %}"> {#<!-- Создает элемент для кнопки «Назад». Если предыдущей
																											страницы нет, добавляется класс disabled (кнопка станет серой) -->#}
				<a class="page-link" href="{{ prev_url }}"> {#<!-- Ссылка на предыдущую страницу по адресу из переменной prev_url -->#}
					<span aria-hidden="true">&larr;</span> {{ _('Newer posts') }} {#<!-- Выводит стрелочку влево (&larr;) и текст «Newer posts» (Новые посты) -->#}
				</a>
			</li>
			<li class="page-item{% if not next_url %} disabled{% endif %}">
				<a class="page-link" href="{{ next_url }}">
					{{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
				</a>
			</li>
		</ul>
	</nav>
{% endblock %}