{#<!-- это шаблон для функции-обработчика ошибки 404  -->#}
{% extends "base.html" %}  {#<!-- команда extends - указывает на наследование родительского (базового) шаблона -->#}

{% block content %} {#<!-- указывает на заполнение пустого родительского блока шаблоном с именем content -->#}
    <h1>{{ _('Not Found') }}</h1>  {#<!-- заголовок 1 степени важности. Название страницы. Функция _() выполняет перевод
    																	текста на предпочитаемый пользователем язык -->#}
    <p><a href="{{ url_for('main.index') }}">{{ _('Back') }}</a></p>  {#<!-- p - текстовый абзац, a - ссылка для перехода на главную страницу -->#}
{% endblock %}