{#<!-- данный шаблон обеспечивает отображение редактора профиля, используя элементы bootstrap.  Шаблон видит
аргументы передаваемые ему из функции просмотра с помощью функции render_template -->#}
{% extends "base.html" %}  {#<!-- импорт базового шаблона(с настройками панели навигации страниц) -->#}
{% import "bootstrap_wtf.html" as wtf %}  {#<!-- Импортирует вспомогательный шаблон библиотеки Flask-Bootstrap -->#}
{% block content %}  {#<!-- наполнение пустого блока content оставленного в базовом шаблоне -->#}
    <h1>Edit Profile</h1>  {#<!-- заголовок 1-го уровня важности -->#}
    {{ wtf.quick_form(form) }}  {#<!-- Вызывает макрос quick_form, передавая в него объект формы form из функции render_template.
    														Этот макрос автоматически генерирует весь HTML-код для формы (поля ввода, подписи,
    														валидацию ошибок и кнопку отправки), сразу стилизуя их под дизайн Bootstrap. -->#}
{% endblock %}