{# <!-- данный шаблон наследует base.html и дополняет его собственными элементами. Используется этот шаблон для отрисовки
главной страницы (Index) и страницы поиска сообщений (Explore). Если он используется для страницы Index (это видно, если
через функцию render_template был передан аргумент form), то в нем используется элемент фреймворка bootstrap - форма для
отправки сообщений, список постов через цикл и блок постраничной навигации (пагинации). Шаблон видит аргументы переданные
ему из функции просмотра с помощью функции render_template --> #}
{% extends "base.html" %}  {#<!-- наследование элементов шаблона base.html -->#}
{% import "bootstrap_wtf.html" as wtf %}  {#<!-- Импортирует вспомогательный шаблон библиотеки Flask-Bootstrap для быстрой
																					генерации красивых HTML-форм -->#}
{% block content %}  {#<!-- указывает на заполнение пустого блока родительского шаблона с именем content-->#}
	<h1>Hi, {{ current_user.username }}!</h1>  {#<!-- заголовок-приветствие пользователя -->#}
	{% if form %} {#<!-- если функцией просмотра была передана форма отправки постов, т.е. шаблон используется для страницы Index -->#}
	{{ wtf.quick_form(form) }} {#<!-- Вызывает макрос quick_form, передавая в него объект формы form из функции render_template.
    														Этот макрос автоматически генерирует весь HTML-код для формы (поля ввода, подписи,
    														валидацию ошибок и кнопку отправки), сразу стилизуя их под дизайн Bootstrap. -->#}
	{% endif %}
	{% for post in posts %}  {#<!-- запуск цикла for с постами -->#}
			{% include '_post.html' %} {#<!-- здесь в цыкле вызывается подшаблон, в котором прописаны настройки отображения отдельного
																	поста -->#}
	{% endfor %}
	<nav aria-label="Post-navigation"> {#<!-- HTML-тег навигации. Атрибут aria-label помогает экранным дикторам для незрячих
																			людей понять, что это навигация по постам. -->#}
		<ul class="pagination"> {#<!-- Создает маркированный список. Класс pagination — это стандартный стиль Bootstrap для
														оформления кнопок переключения страниц -->#}
			<li class="page-item{% if not prev_url %}disabled{% endif %}"> {#<!-- Создает элемент списка (кнопку «Назад»). Внутри
														класса написана проверка: если переменная prev_url пустая (предыдущей страницы нет), то
														добавляется класс disabled, который делает кнопку серой и некликабельной. -->#}
				<a class="page-link" href="{{ prev_url }}"> {#<!-- Ссылка на предыдущую страницу. В атрибут href подставляется
																										URL-адрес из переменной prev_url -->#}
					<span aria-hidden="true">&larr;</span>Newer posts {#<!-- Отображает стрелочку влево (&larr;) и текст «Newer posts»
														(Новые посты). Тег span скрывает стрелку от экранных дикторов, чтобы они не читали её как
														странный символ -->#}
				</a>
			</li>
			<li class="page-item{% if not next_url %}disabled{% endif %}"> {#<!-- Создает элемент списка для кнопки «Вперед». Если
														следующей страницы нет (not next_url), кнопка также становится неактивной через класс disabled -->#}
				<a class="page-link" href="{{ next_url }}">Older posts <span aria-hidden="true">&rarr;</span> {#<!-- Ссылка на
														следующую страницу с текстом «Older posts» (Старые посты) и HTML-стрелочкой вправо (&rarr;) -->#}
				</a>
			</li>
		</ul>
	</nav>
{% endblock %}