{#<!-- это шаблон для отображения страницы сброса пароля, на которую переходит пользователь по ссылке из эл. письма -->#}
{% extends 'base.html' %}  {#<!-- команда extends - указывает на наследование родительского (базового) шаблона -->#}
{% import "bootstrap_wtf.html" as wtf %}  {#<!-- Импортирует вспомогательный шаблон библиотеки Flask-Bootstrap для быстрой
																					генерации красивых HTML-форм -->#}
{% block content %}  {#<!-- указывает на заполнение пустого родительского блока шаблоном с именем content -->#}
  <h1>Reset Your Password</h1>  {#<!-- заголовок страницы -->#}
	{{ wtf.quick_form(form) }} {#<!-- Автоматически отрисовывает HTML-форму на основе переданного из Flask объекта form (обычно
										класса ResetPasswordForm, передается через функцию render_template). Макрос создаст поля для ввода
										нового пароля, его подтверждения и кнопку	отправки, применив к ним стили Bootstrap -->#}
{% endblock %}