<!-- данный шаблон наследует base.html и дополняет его собственными элементами. Используется этот шаблон для отрисовки
главной страницы (Index) и страницы поиска сообщений (Explore). Если он используется для страницы Index, то в него
передается объект form - форма для отправки сообщений. Шаблон видит аргументы передаваемые ему из функции просмотра с
помощью функции render_template -->
{% extends "base.html" %}  <!-- наследование элементов шаблона base.html -->

{% block content %}  <!-- указывает на заполнение пустого блока родительского шаблона с именем content-->
    <h1>Hi, {{ current_user.username }}!</h1>  <!-- приветствие пользователя -->
    {% if form %} <!-- если функцией просмотра была передана форма отправки постов, т.е. шаблон используется для страницы Index -->
    <form action="" method="post"> <!-- создание HTML-формы. action="" - означает, что данные отправятся на тот же URL,
                            на котором находится пользователь. method="post" - указывает на тип HTML-запроса. -->
        {{ form.hidden_tag() }}  <!-- генерирует скрытые поля формы, включая CSRF-токен для защиты от атак типа
                                  «межсайтовая подделка запроса». Это также защита от атак, при которых злоумышленник
                                  пытается отправить форму от имени залогиненного пользователя. Без этого Flask-WTF
                                  выдаст ошибку. -->
        <p>  <!-- текстовый абзац -->
            {{ form.post.label }}<br> <!-- Отображение ткстовой метки поля (сообщение/post). Тег <br> устанавливает
                                  перевод строки в том месте, где этот тег находится. В отличие от тега абзаца <p>,
                                  использование тега <br> не добавляет пустой отступ перед строкой. -->
            {{ form.post(cols=32, rows=4) }}<br>  <!-- отображение текстового поля. cols=32 параметр устанавливающий
                                                    ширину поля в символах. rows=4 параметр устанавливающий высоту поля -->
            {% for error in form.post.errors %}  <!-- этот цикл выводит ошибки прямо под полем, если пользователь ввел
                                   данные неправильно, Flask-WTF вернет список ошибок -->
            <span style="color: red;">[{{ error }}]</span>  <!-- тег span позволяет настраивать строку отдельно от остальных строк -->
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>  <!-- кнопка 'submit' (отправка введенных данных) -->
    </form>
    {% endif %}
    {% for post in posts %}  <!-- запуск цикла for с постами -->
        {% include '_post.html' %} <!-- здесь в цыкле вызывается подшаблон, в котором прописан формат отображения отдельного
                                    поста -->
    {% endfor %}
    {% if prev_url %}  <!-- если в шаблон через функцию просмотра передан URL предыдущей страницы (prev_url) -->
    <a href="{{ prev_url }}">Newer posts</a>  <!-- отображается ссылка на предыдущую страницу -->
    {% endif %}
    {% if next_url %} <!-- если в шаблон через функцию просмотра передан URL следующей страницы (next_url) -->
    <a href="{{ next_url }}">Older posts</a>  <!-- отображается ссылка на следующую страницу -->
    {% endif %}
{% endblock %}