<!-- это шаблон для отображения страницы сброса пароля, на которую переходит пользователь по ссылке из эл. письма -->
{% extends 'base.html' %}  <!-- команда extends - указывает на наследование родительского (базового) шаблона -->

{% block content %}  <!-- указывает на заполнение пустого родительского блока шаблоном с именем content -->
    <h1>Reset Your Password</h1>  <!-- заголовок страницы -->
    <!-- далее создается форма с - открытыми полями для ввода данных пользователем, и со скритым полем - для передачи токенов безопасности
     В данной форме 3 открытых полей (password, password2, submit(кнопка) и 1 скрытое - hidden_tag). Для
     каждого поля прописывается 3 настройки: labels - заголовок/обозначение поля, size - ширина поля в символах, errors
     - перехват ошибок при заполнении поля -->
    <form action="" method="post"> <!-- создание HTML-формы. action="" - означает, что данные отправятся на тот же URL,
                                    на котором находится пользователь. method="post" - указывает на тип HTML-запроса. -->
        {{ form.hidden_tag() }}  <!-- генерирует скрытые поля формы, включая CSRF-токен для защиты от атак типа
                                  «межсайтовая подделка запроса». Это также защита от атак, при которых злоумышленник
                                  пытается отправить форму от имени залогиненного пользователя. Без этого Flask-WTF
                                  выдаст ошибку. -->
        <p>
            {{ form.password.label }}<br>   <!--  -->
            {{ form.password(size=32) }}<br>  <!--  -->
            {% for error in form.password.errors %}  <!--  -->
            <span style="color: red;">[{{ error }}]</span>  <!-- тег span позволяет настраивать строку отдельно от остальных строк -->
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>  <!-- кнопка submit -->
    </form>
{% endblock %}