{#<!-- здес реализован подшаблон используемый для отображения одного сообщения. Нижнее подчеркивание в названии указывает
на то, что данный шаблон является вложенным (подшаблоном), т.е. есть этот шаблон вызывается внутри другого шаблона. Чтобы
вызвать этот шаблон в другом шаблоне, нужно использовать jinja-оператор include. Вданном шаблоне использованы элементы
фреймворка bootstrap. Для отображения сообщения используется таблица -->#}
<table class="table table-hover">  {#<!-- открытие таблицы. table и table-hover — это стили фреймворка Bootstrap. Они делают
																		таблицу аккуратной и добавляют подсвечивание строки при наведении курсора. -->#}
	<tr>  {#<!-- tr - Создает строку таблицы. Вся информация о посте (аватар и текст) находится в одной строке. -->#}
		<td width="70px">  {#<!-- Открывает первую ячейку строки с фиксированной шириной 70 пикселей. Она предназначена для аватара. -->#}
			<a href="{{ url_for('user', username=post.author.username) }}"> {#<!-- Создает ссылку на профиль автора поста. Функция
												url_for динамически генерирует адрес (URL) для страницы user,	передавая туда имя пользователя (username). -->#}
				<img src="{{ post.author.avatar(70) }}"/> {#<!-- Отображает картинку-аватар. Ссылка на картинку формируется методом
																									avatar(70), который запрашивает изображение размером 70х70 пикселей. -->#}
			</a>
    </td>
		<td> {#<!-- открытие второй ячейки строки. Здесь будет текстовая информация -->#}
			<a href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a> {#<!-- снова создает
																			ссылку на профиль автора, но теперь текст ссылки — это само имя пользователя. -->#}
			said {{ moment(post.timestamp).fromNow() }}:
			<br> {#<!-- Тег переноса строки, чтобы текст самого поста начинался с новой строчки. -->#}
			{{ post.body }} {#<!-- Выводит на экран непосредственное содержимое самого поста. -->#}
		</td>
	</tr>
</table>