{#<!-- в данном файле представлен базовый шаблон созданный с помощью стилей Bootstrap, т.е. элементы данного шаблона
повторяются на нескольких страницах (ендпоинтах). В данном случае это панель навигации, она присутствует на многих страницах приложения.
Другие шаблоны могут наследовать данный шаблон и дополнять его. Шаблон видит аргументы передаваемые ему из функции просмотра с
помощью функции render_template. При наследовании, данный шаблон становится как бы оболочкой в которой предусмотрено место,
куда вставляется дочерний шаблон, это место - блок под названием content -->#}
<!DOCTYPE html>
<html lang="en"> {#<!-- указывает на каком языке написан сайт -->#}
    <head>  {#<!-- заголовок строницы -->#}
        <meta charset="utf-8"> {#<!-- Эта строка кода сообщает браузеру, какую кодировку символов нужно использовать для
                                правильного отображения текста на сайте. <meta> — тег, который передает техническую
                                информацию (метаданные) о странице браузеру и поисковым системам. Он не отображается на
                                экране. charset="utf-8" — задает международную кодировку UTF-8 (Unicode). -->#}
        <meta name="viewport" content="width=device-width, initial-scale=1"> {#<!-- настройка масштабирования и отображения
                        страницы на мобильных устройствах. Эта строка является строго обязательной для создания современных
                        адаптивных сайтов.
                        1 - <meta> — технический тег для передачи инструкций браузеру.
                        2 - name="viewport" — указывает, что настройки применяются к «области просмотра» (экрану устройства).
                        3 - content="... " — список конкретных правил адаптивности:
                            3.1. width=device-width — устанавливает ширину сайта равной физической ширине экрана гаджета.
                            Сайт автоматически подстроится и под узкий iPhone, и под широкий планшет.
                            3.2. initial-scale=1 — задает изначальный масштаб страницы 100%. Это гарантирует, что при
                            открытии сайта текст и кнопки не будут автоматически приближены или отдалены. -->#}
        {% if title %}  {#<!-- если через функцию render_template будет передан параметр title, то шаблон отобразит его
        								в заголовоке -->#}
        <title>{{ title }} - Microblog</title>
        {% else %}  {#<!-- если в функции render_template не будет передан параметр title, то шаблон присвоит странице
        						прописанный в шаблоне заголовок -->#}
        <title>Welcome to Microblog</title>
        {% endif %}  {#<!-- конец условного блока -->#}
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous">  {#<!-- в теге link к сайту подключается Bootstrap — популярный набор готовых стилей
                                        для веб-страниц. 1 - href="..." — это адрес, откуда загружается файл стилей.
                                        2 - rel="stylesheet" — указывает браузеру, что этот файл является таблицей стилей
                                        (CSS) и его нужно применить для оформления текущей HTML-страницы.
                                        3 - integrity="..." — криптографический хэш (проверка целостности). Браузер ска-
                                        чивает файл, считает его хэш и сравнивает с этой строкой. Если хакеры взломают CDN
                                        и подменят код Bootstrap на вредоносный скрипт, хэши не совпадут, и браузер за-
                                        блокирует этот файл ради безопасности ваших пользователей.
                                        4 - crossorigin="anonymous" — разрешает браузеру отправлять запрос за файлом на
                                        сторонний сайт без передачи ваших конфиденциальных данных (например, файлов cookies
                                        или данных авторизации). -->#}
    </head>
    <body>  {#<!-- тело страницы -->#}
        {#<!-- далее настраивается отображение навигационной панели -->#}
        <nav class="navbar navbar-expand-lg bg-body-tertiary"> {#<!-- nav - главный контейнер панели. Аргументы:
                               navbar — базовый класс Bootstrap, который превращает обычный блок в навигационную панель.
                               navbar-expand-lg — управляет адаптивностью. Меню будет развернуто на больших экранах
                               (компьютеры, ноутбуки). На экранах меньше ноутбука (планшеты, смартфоны) ссылки скроются,
                               и появится мобильная кнопка меню.
                               bg-body-tertiary — задает стандартный фоновый цвет для панели (обычно это светло-серый
                               оттенок, который автоматически подстраивается под светлую или темную тему сайта в Bootstrap 5). -->#}
            <div class="container">  {#<!-- ограничение ширины. container — центрирует содержимое шапки по центру экрана и
                                    добавляет отступы по бокам, чтобы текст не прижимался вплотную к краям монитора. -->#}
                <a class="navbar-brand" href="{{ url_for('index') }}">Microblog</a>  {#<!-- navbar-brand — стилизует текст
                                                     как бренд или логотип (делает его крупнее и выделяет жирным).
                                                     href - это ссылка которая будет отображатся в виде надписи Microblog,
                                                     т.е. главная страница -->#}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> {#<!--
                                            Кнопка для мобильных устройств:
                                            navbar-toggler — превращает кнопку в скрытую иконку-«гамбургер» (три полоски),
                                            которая видна только на смартфонах.
                                            data-bs-toggle="collapse" — JS-атрибут Bootstrap. Он указывает, что при клике
                                            на кнопку скрытый блок на странице должен плавно развернуться или свернуться.
                                            data-bs-target="#navbarSupportedContent" — связывает эту кнопку со списком
                                            ссылок. Кнопка будет открывать блок, у которого есть ID navbarSupportedContent
                                            (этот блок должен идти дальше в коде, в вашем фрагменте его пока нет).
                                            navbar-toggler-icon — стандартная иконка трех полосок внутри кнопки.
                                            Атрибуты aria-* нужны для доступности (экранных дикторов, которые читают сайт
                                             вслух для незрячих людей). -->#}
                <span class="navbar-toggler-icon"></span> {#<!-- эта строка выводит иконку «гамбургера» (три горизонтальные
                                                            полоски) внутри мобильной кнопки меню. -->#}
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent"> {#<!-- открытие тэга контейнера для адаптивного
                                            меню. Это строка делает 2 вещи:
                                            1 - создает «эффект шторки» (collapse): Класс collapse navbar-collapse прячет
                                            элементы меню (ссылки, кнопки) на маленьких экранах (смартфонах) и превращает
                                            их в выпадающий список. На больших экранах (компьютерах) этот же класс
                                            автоматически раскрывает меню во всю ширину.
                                            2 - задает уникальный адрес (id="navbarSupportedContent"): Этот идентификатор
                                            работает как «мишень». На странице обязательно есть кнопка-«гамбургер» (три
                                            полоски), которая управляет этим меню. В этой кнопке прописан адрес
                                            data-bs-target="#navbarSupportedContent". Когда пользователь кликает на кнопку,
                                            браузер находит данный <div> по его id и плавно сворачивает или разворачивает его. -->#}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0"> {#<!-- открытие тэга "ненумерованный список". Классы внутри
                                             этого тега управляют расположением и отступами элементов:
                                             1 - navbar-nav — задает структуру навигации. Элементы списка (<li>) выстраиваются
                                             в ровную горизонтальную линию на больших экранах и в вертикальный список на
                                             мобильных устройствах. Также этот класс отключает стандартные маркеры (точки)
                                             списка. me-auto - автоматический отступ справа
                                             2 - mb-2 mb-lg-0 (Margin Bottom) — управляет нижним отступом:
                                                mb-2 - добавляет небольшой отступ снизу на мобильных экранах, чтобы ссылки
                                                не слипались со следующим контентом при раскрытом меню.
                                                mb-lg-0 полностью убирает этот отступ на больших экранах (компьютерах),
                                                чтобы меню оставалось идеально центрированным по вертикали. -->#}
                        <li class="nav-item">  {#<!-- открытие тега списка, который является контейнером для одной ссылки
                                                в навигационной панели Bootstrap. Класс nav-item выполняет следующие задачи:
                                                1 - управляет структурой, т.е сообщает Bootstrap, что этот элемент является
                                                частью меню. На компьютерах он выстраивает пункты в горизонтальный ряд,
                                                а на смартфонах — в вертикальный столбец.
                                                2 - задает отступы - автоматический добавляет правильные интервалы вокруг
                                                ссылки. Благодаря этому пункты меню не слипаются друг с другом, и по ним
                                                легко попадать пальцем на экране телефона.
                                                Внутри этого тега всегда располагается сама ссылка с классом nav-link. -->#}
                            <a class="nav-link" aria-current="page" href="{{ url_for('index') }}">Home</a> {#<!-- создание
                                                ссылки в меню навигации:
                                                class="nav-link" — класс Bootstrap, который стилизует текст внутри меню.
                                                    Он убирает стандартное синее подчеркивание ссылки, задает правильный
                                                    размер шрифта и добавляет красивый эффект изменения цвета при наведении
                                                    курсора (hover).
                                                aria-current="page" — атрибут доступности (Accessibility). Он сообщает
                                                    скринридерам (программам для незрячих людей), что эта ссылка ведет на
                                                    текущую открытую страницу сайта. -->#}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('explore') }}">Explore</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        {% if current_user.is_anonymous %} {#<!-- если текущий пользователь не авторизован -->#}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('login') }}">Login</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('user',
                            username=current_user.username) }}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('logout') }}">Logout</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container mt-3">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous">
        </script>
				{{ moment.include_moment() }}  {#<!-- подключает JavaScript-библиотеку Moment.js к веб-странице, для работы с
																				датами и временем -->#}
    </body>
</html>
