{#<!-- Этот код представляет собой шаблон страницы регистрации нового пользователя (register.html). Он устроен максимально
просто и лаконично, так как всю работу по созданию полей берет на себя библиотека Flask-Bootstrap. Шаблон видит аргументы
передаваемые ему из функции просмотра с помощью функции render_template -->#}

{% extends "base.html" %}  {#<!-- команда extends - указывает на наследование родительского (базового) шаблона -->#}
{% import "bootstrap_wtf.html" as wtf %}  {#<!-- Импортирует вспомогательный шаблон библиотеки Flask-Bootstrap для быстрой
																					генерации красивых HTML-форм -->#}
{% block content %}  {#<!-- указывает на заполнение пустого родительского блока шаблоном с именем content-->#}
	<h1>Register</h1> {#<!-- заголовок страницы -->#}
	{{ wtf.quick_form(form) }} {#<!--  -->#}
{% endblock %}
