<!-- данный шаблон наследует base.html и дополняет его собственными элементами. -->
{% extends "base.html" %}  <!-- наследование элементов шаблона base.html -->

{% block content %}  <!-- указывает на заполнение пустого родительского блока шаблоном с именем content-->
    <h1>Hi, {{ current_user.username }}!</h1>  <!-- приветствие пользователя -->
    {% for post in posts %}  <!-- запуск цикла for с постами -->
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div> <!-- В цикле отображается - автор поста и
                                текст (тело) поста div - контейнер для других элементов шаблона, каждый новый элемент
                                созданный в нем отображается в браузере с новой строки. p - сделать абзац. -->
    {% endfor %}
{% endblock %}