<!-- здес реализован подшаблон используемый для отображения одного сообщения. Нижнее подчеркивание в названии указывает
на то, что данный шаблон является вложенным (подшаблоном), т.е. есть этот шаблон вызывается внутри другого шаблона. Чтобы
вызвать этот шаблон в другом шаблоне, нужно использовать jinja-оператор include -->
<table>  <!-- создание таблицы -->
    <tr valign="top">  <!-- tr - создание строки. valign - выравнивание содержимого ячеек по верхнему краю строки -->
        <td><img src="{{ post.author.avatar(36) }}"></td>  <!-- td - ячейка таблицы. img src - вставка изображения в ячейку -->
        <td>
            <a href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a> says:<br>{{ post.body }} <!-- отображение
                                           поста с кликабельным именем автора поста, для перехода на страницу автора -->
        </td>
    </tr>
</table>