<!-- данный шаблон наследует base.html и дополняет его собственными элементами. Собственным являются - веб-формы (поля)
для заполнения, прописанные в модуле forms.py. Шаблон видит аргументы передаваемые ему из функции просмотра с
помощью функции render_template -->

{% extends "base.html" %}  <!-- команда extends - указывает на наследование родительского (базового) шаблона -->
{% block content %}  <!-- указывает на заполнение пустого родительского блока шаблоном с именем content-->
    <h1>Sign In</h1>  <!-- заголовок страницы-->
    <form action="" method="post" novalidate>  <!-- создание HTML-формы. action="" - означает, что данные отправятся на
                                            тот же URL, на котором находится пользователь. method="post" - указывает на
                                            тип HTML-запроса. novalidate - отключает стандартную проверку полей браузером,
                                            чтобы валидацию полностью контролировал Flask -->
        {{ form.hidden_tag() }} <!-- генерирует скрытые поля формы, включая CSRF-токен для защиты от атак типа «межсайтовая подделка запроса» -->
        <p>  <!-- абзац -->
            {{ form.username.label }}<br>  <!-- Тег <br> устанавливает перевод строки в том месте, где этот тег находится.
                                            В отличие от тега абзаца <p>, использование тега <br> не добавляет пустой отступ перед строкой. -->
            {{ form.username(size=32)  }}<br>  <!-- Генерирует сам тег <input> для поля ввода имени пользователя (ширина поля в 32 символа)-->
            {% for error in form.username.errors %} <!-- данный цикл for нужен для отображения в браузере ошибки совершенной при заполнении данного поля (имя пользователя)-->
                <span style="color: red;">[{{ error }}]</span>  <!-- тег span позволяет настраивать строку отдельно от остальных строк -->
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>  <!-- Аналогично полю "имя пользователя" создается поле для ввода пароля (обычно типа password, скрывающее символы) -->
            {% for error in form.password.errors %}  <!--отображение в браузере ошибки совершенной при заполнении данного поля (пароль)-->
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>  <!--form.remember_me() - генерирует чекбокс, -->
        <p>{{ form.submit() }}</p>  <!--создает кнопку отправки формы-->
    </form>
    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p> <!-- ссылка, которая отправляет новых
                                    пользователей на регистрационную форму -->
{% endblock %}  <!-- конец блока -->