<!-- данный шаблон нужен для отображения полей регистрации нового пользователя, прописанные в модуле forms.py в классе RegisterForm.
Шаблон наследует элементы шаблона base.html и дополняет его собственными элементами. Собственным являются - веб-формы (поля)
для регистрации нового пользователя. В шаблоне прорисовываются 4 поля: 1 - имя пользователя; 2 - эл. почта; 3 - пароль;
4 - повторение пароля. Шаблон видит аргументы передаваемые ему из функции просмотра с помощью функции render_template -->

{% extends "base.html" %}  <!-- команда extends - указывает на наследование родительского (базового) шаблона -->

{% block content %}  <!-- указывает на заполнение пустого родительского блока шаблоном с именем content-->
    <h1>Register</h1> <!-- заголовок страницы -->
    <form action="" method="post"> <!-- создание HTML-формы. action="" - означает, что данные отправятся на
                                    тот же URL, на котором находится пользователь. method="post" - указывает на тип HTML-запроса. -->
        {{ form.hidden_tag() }}  <!-- генерирует скрытые поля формы, включая CSRF-токен для защиты от атак типа
                                  «межсайтовая подделка запроса». Это также защита от атак, при которых злоумышленник
                                  пытается отправить форму от имени залогиненного пользователя. Без этого Flask-WTF
                                  выдаст ошибку. -->
        <p>  <!-- абзац -->
            {{ form.username.label }}<br>  <!-- Отображение ткстовой метки поля (Username). Тег <br> устанавливает
                                  перевод строки в том месте, где этот тег находится. В отличие от тега абзаца <p>,
                                  использование тега <br> не добавляет пустой отступ перед строкой. -->
            {{ form.username(size=32) }}<br>  <!-- Генерирует сам тег <input> для поля ввода имени пользователя
                                  (ширина поля в 32 символа) -->
            {% for error in form.username.errors %} <!-- этот цикл выводит ошибки прямо под полем, если пользователь ввел
                                   данные неправильно (например, занятый email или слишком короткий пароль), Flask-WTF
                                   вернет список ошибок. . -->
            <span style="color: red;">[{{ error }}]</span>  <!-- тег span позволяет настраивать строку отдельно от остальных строк -->
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label  }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p> <!-- Превращается в кнопку <input type="submit" value="Register"> -->
    </form>
{% endblock %}
